* {
padding:0;
margin:0;
}
body {
	background-color:#060606;
}
#slendy {
	width:130px;
	height:130px;
	position:absolute;
	display:none;
	top:258px;
	left:53%;
	z-index: 4;
}
#bk {
	position:absolute;
	top:80px;
	left:50%;
	margin-left:-512px;
	z-index: 3;
}
#staticbk {
	position:absolute;
	top:80px;
	left:50%;
	margin-left:-512px;
	opacity: 0;
	z-index: 5;
}
#rainbow {
	position:absolute;
	z-index:6;
	font-size: 350px;
	text-align: center;
	display:none;
}



